PORT=5000
DB_URI=mongodb+srv://suhani8218386100_db_user:Suhani821@suhani.ulomfza.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=HJ870jkhk78Y7ih78H78ih778H889
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=JHJHjhgjg7y8u7888bVBg87G
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=hul4lwow
CLOUDINARY_API_KEY=271295371562481
CLOUDINARY_API_SECRET=PYkH0tneyiNl0mmjNAfWlHy_Bww